name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Deploy to GitHub
        run: |
          mvn versions:set -DnewVersion=1.0.${{ github.run_number }} -P github-build
          
          mvn clean install -P azure-build
          
          mvn --batch-mode -DuseGitHubPackages=true deploy -P github-deploy,github-build
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_GITHUB_TOKEN }}
